SECRET_KEY=ваш_секретный_ключ

DEBUG=True

NAME=имя_вашей_базы_данных
USER=ваш_пользователь
PASSWORD=ваш_пароль
HOST=localhost
PORT=5432

EMAIL_HOST=ваш_email_host
EMAIL_PORT=ваш_email_port
EMAIL_USE_TLS=True/False
EMAIL_USE_SSL=True/False
EMAIL_HOST_USER=ваш_email
EMAIL_HOST_PASSWORD=ваш_email_password